@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
    /* PRIMARY */
    --primary-cyan: hsl(180, 29%, 50%);

    /* NEUTRAL */
    --bg-gray-cyan: hsl(180, 52%, 96%);
    --filter-gray-cyan: hsl(180, 31%, 95%);
    --dark-gray-cyan: hsl(180, 8%, 52%);
    --very-dark-gray-cyan: hsl(180, 14%, 20%);

    /* TYPOGRAPHY */
    --default-size: 15px;
    --default-family: 'League Spartan', sans-serif;
    --default-weight: 700;
}